<section ><h2 class='spotlight'>Media Spotlight:</h2><h2><%= link_to "First work", works_path, class: "spotlight_lt" %></h2> by </section>
<p>Votes</p>

<div class='top_ten'>
<section>
  <h2>Top Movies</h2>
  </section>
<section><h2>Top Books</h2></section>
<section><h2>Top Music</h2></section>
</div>