<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Media Ranker | Ranking the Best of Everything</h1>
<nav class="nav_bar">
  <ul>
    <li>View Top Media</li>
    <li>View All Media</li>
    <li>Add a New Work</li>
    <li>View All Users</li>
    <li id="login">Log In</li>
  </ul>
</nav>
<main>
<section class="media_spotlight"></section>
<section>Top Movies</section>
<section>Top Books</section>
<section>Top Albums</section>
</main>
</body>