<h1>REFACTOR OUT NAV BANNER!!!</h1>

<header class="app-header__header">
<a href="/">Media Ranker</a>
<small>| Ranking the Best of Everything</small>

<nav class="app-header__nav">
<ul class="nav app-header__site-nav-container">
  <li class="nav-item app-header__nav_item">LINK: View top media</li>
  <li class="nav-item app-header__nav_item">LINK: View all media</li>
  <li class="nav-item app-header__nav_item">LINK: Add a new work</li>
  <li class="nav-item app-header__nav_item"><%= link_to "View All Users", users_path %></li>
</ul>

<ul class="nav app-header__user-nav-container">
  <li class="nav-item app-header__nav_item">
    <a class="btn btn-primary" href="/users/login">Log In</a>
  </li>
</ul>
</nav>
</header>

Some kind of flash thing here

<hr>
<main>
<section class="spotlight">
<h2 class="spotlight__header">
<span class="spotlight__header--prefix">Media Spotlight:</span>
<a class="spotlight__link_to" href="/nope_path">TITLE</a> by Whoever
</h2>
<p class="spotlight__description"> # votes - abc?</p>
</section>

<hr class="root__hr">

<section class="top-ten_container">
  <section class="top-ten__list_container">
    <h2 class="top-ten__header">TOP MOVIES</h2>
    <ul class="list-group top-ten__list">
      <li class="list-group-item">1</li>
      <li class="list-group-item">2</li>
      <li class="list-group-item">3</li>
    </ul>
  </section>

  <section class="top-ten__list_container">
    <h2 class="top-ten__header">TOP BOOKS</h2>
    <ul class="list-group top-ten__list">
      <li class="list-group-item">1</li>
      <li class="list-group-item">2</li>
      <li class="list-group-item">3</li>
    </ul>
  </section>

  <section class="top-ten__list_container">
    <h2 class="top-ten__header">TOP ALBUMS</h2>
    <ul class="list-group top-ten__list">
      <li class="list-group-item">1</li>
      <li class="list-group-item">2</li>
      <li class="list-group-item">3</li>
    </ul>
  </section>
</section>
</main>
