<h2>Media Spotlight:</h2> 

<%= @spotlight.title %> <%= @spotlight.votes.length %>
#top 10 movies by descending number of votes

#top 10 books by descending number of votes

#top 10 albums by descending number of votes