<h1> Media Spotlight: </h1>
<% chosen = @works.sample %>
<%= link_to chosen.title, work_path(chosen) %>
(<%= chosen.category %>)
by
<%= chosen.creator %>

<h1> Top Books: </h1>
<% chosen = @works.where(category: "book").sample(10) %>
<% chosen.each do |book| %>
<% end %>