<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Media Ranker | Ranking the Best of Everything</h1>
<nav class="nav_bar">
  <h3><%= link_to "View All Media", works_path%></h3>
  <h3>View Top Media</h3>
  <h3>Add a New Work</h3>
  <h3>View All Users</h3>
  <h3 id="login">Log In</h3>
</nav>
<main>
<section class="media_spotlight"></section>
<section>Top Movies</section>
<section>Top Books</section>
<section>
<h2>Top Albums</h2>
  <div> 
    <% @works.each do |work| %>
      <% if work.category == "album" %>
      <%= work.title%>
      <br>
      <% end %>
    <% end %>
  </div>
</section>

</main>
</body>