<main class="container">
  <section>
    <h2>Edit Work</h2>
    <%= render partial: "form", locals: { submit_button_label: "Edit work", work_form_class: "edit-work", work_submit_class: 'edit-button'} %>
  </section>
</main>
