<html>
  <main>
    <h2>Edit this <%= @work.category.capitalize %> </h2>
    <section>
        <div class="form-group">
          <%= render partial: "form", locals: { submit_button_label: "Update Work", work_form_class: "update-work-form" } %>
        </div>
    </section>
    </main>
  </body>
</html>