<section class="top-ten__container">
  <section class="top-ten__list-container">
    <h2 class="top-ten__header">
      Top Movies
    </h2>
    <ul class="list-group top-ten__list">
      <% Work.where(category:"movie").each do |work| %>
          <h4>
            <li class="list-group-item">
              <%= link_to work.title, work_path(work.id)%>
              <small class="top-ten__creator"> by *USER* </small>
            </li>
          </h4>
        <%end%>
    </ul>
  </section>
  <section class="top-ten__list-container">
    <h2 class="top-ten__header">
      Top Books
    </h2>
    <ul class="list-group top-ten__list">
    <% Work.where(category:"book").each do |work| %>
        <h4>
          <li class="list-group-item">
            <%= link_to work.title, work_path(work.id)%>
            <small class="top-ten__creator"> by *USER* </small>
          </li>
        </h4>
      <%end%>
    </ul>
  </section>
  <section class="top-ten__list-container">
    <h2 class="top-ten__header">
      Top Albums
    </h2>
    <ul class="list-group top-ten__list">
    <% Work.where(category:"album").each do |work| %>
        <h4>
          <li class="list-group-item">
            <%= link_to work.title, work_path(work.id)%>
            <small class="top-ten__creator"> by *USER* </small>
          </li>
        </h4>
      <%end%>
    </ul>
  </section>
  <!-- <a href="/works.movies">View More Movies</a> -->
</section>
