<h1>Media Ranker</h1>
<%# <p>app/views/works/index.html.erb</p> %>
<%# find me in the homepage, i'm the root path %>
<h2>SPOTLIGHT</h2>
<ul>
  <% @spotlight.each do |work|  %>
    <li>
      <%= link_to work.title, work_path(work.id) %>
      <% end %>
      </ul>

<h3>MOVIES</h3>
        <% @movies.each do |movie|  %>
    <li>
      <%= link_to movie.title, work_path(movie.id) %>
      <% end %>
      </ul>

<h3>BOOKS</h3>
        <% @books.each do |book|  %>
    <li>
      <%= link_to book.title, work_path(book.id) %>
      <% end %>
      </ul>

<h3>ALBUMS</h3>
        <% @albums.each do |album|  %>
    <li>
      <%= link_to album.title, work_path(album.id) %>
      <% end %>
      </ul>