<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<%= render partial: "homepages/nav" %>

<%= render partial: "print_all", locals: {category_name: "Albums", method_name: @all_albums} %>

<%= render partial: "print_all", locals: {category_name: "Books", method_name: @all_books} %>

<%= render partial: "print_all", locals: {category_name: "Movies", method_name: @all_movies} %>


