<h1>List of Works</h1>

<section>
  <ul>

  <%# <% 3.times do %> %>

  <% @albums.each do |album| %>
   <li> <%= link_to album.title, work_path(album.id) %>
    <%= album.votes.length%>votes </li>
    <% end%>
    <%# <% end%> %>
  </ul>

  <ul>

  </ul> 
</section>