<h1>List of Works</h1>



<section>
<h2>Books</h2>
<% books = Work.top_category("book")%>
<% books.each do |book|%>
 <%= book.title%>
  <br>
<% end %>
</section>

<section>
<h2>Albums</h2>
<% albums = Work.top_category("album")%>
<% albums.each do |album|%>
  <%= album.title%>
  <br>
<% end %>
</section>


<section>
<h2>Movies</h2>
<% movies = Work.top_category("movie")%>
<% movies.each do |movie|%>
  <%= movie.title%>
  <br>
<% end %>
</section>


<%= link_to "Home", root_path %>