<% if @work.errors.any? %>
  <section class="alert__container">
      <div class="alert alert-warning">    
        <ul>
          <% @work.errors.each do |column, message| %>
            <li><%= column.capitalize %><%= message %></li>
          <% end %>
        </ul>
      </div>
  </section>
<% end %>

<main>
  <h2>Add a new work</h2>
  <%= render partial: "form", locals: { submit_button_label: "Create work" } %>
</main>