<html>
  <main>
    <h2>Add a new work</h2>
    <section>
        <div class="form-group">
          <%= render partial: "form", locals: { submit_button_label: "Create Work", work_form_class: "new-work-form" } %>
        </div>
    </section>
    </main>
  </body>
</html>