<html>
  <head>
    <link rel="stylesheet" media="screen" href="/assets/application-23e0d10ed2d885fab99a6549bc004eca19f49cf694e045afebe16b6e9bf1345a.css">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One">
    <link rel="stylesheet" media="all" href="/assets/application-23e0d10ed2d885fab99a6549bc004eca19f49cf694e045afebe16b6e9bf1345a.css" data-turbolinks-track="reload">
    <script src="/assets/application-f29d14b755d80577972d103e106ff1c2bc9a53efbc3b1e775d62d596da7222db.js" data-turbolinks-track="reload"></script>
    
    <title>Media Ranker 2.0</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="XB6qBQQYpv64POkZjoo9SQx5z3EFK9x+VdCAo3fGLVN/lfRYuhqJGe/bitzNKrDngohyPFdnEnRwLRE2G8IN4Q==">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-910822ff6cd5f6d37119171c4b716f1d4e5fe0e8ad5e408627659ebf8d7f16b1.ico">
  </head>

<body>
  <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/">View top media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works">View all media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works/new">Add a new work</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/users">View all users</a>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">

        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" href="/users/407">Logged in as linnea</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" rel="nofollow" data-method="post" href="/logout">Log Out</a>
        </li>
      </ul>
    </nav>
  </header>


  <main>
    <h2>Add a new work</h2>
    <section>
    <form action="/works" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="fV7tTuAb2yHaPAC8enXk6tdNaceyNp/28thtxypFprNe1bMTXhn0xo3bY3k51WlEWbzUiuB6UfzXJfxSRkGGAQ==">
    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="work[category]">
        <option value="album">album</option>
        <option value="book">book</option>
        <option value="movie">movie</option>
      </select>
    </div>
    <section class="form-group">
      <%= render partial: "form", locals: { submit_button_label: "Create Work", book_form_class: "new-work-form" } %>
    </section>


    <%# <div class="form-group">
      <label>Publication year</label>
      <input class="form-control" type="text" name="work[publication_year]">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="work[description]"></textarea>
    </div>

    <div class="form-group">
      <input type="submit" name="commit" value="Create Work" class="btn btn-primary" data-disable-with="Create Work">
    </div> %>
  </form>
</section>


  </main>


</body></html>

