<% if @work.errors.any? %>
  <section class="alert__container second-alert-container">
    <div class="alert alert-warning" role="alert">
      <ul>
        <% @work.errors.each do |column, message| %>
          <li class="second-alert-message">
            <%= column %>: <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>

<main>
  <h2>Add a new work</h2>

  <%= render partial: "form", locals: { submit_button_label: "Create Work" } %>
</main>
