<header class="app-header_header">
  <h1>
    <a href="/"Media Ranker </a>
    <small>Ranking the Best of Everything</small>
  </h1>
  <nav class="app-header_nav">
    <ul class="nav app-header_site-nav-container">
        <li class="nav-item app-header_nav_item">
            <a class="nav-link" href="/"View top media</a>
        </li>
        <li class="nav-item app-header_nav_item">
            <a class="nav-link" href="/works"View all media</a>
        </li>
        <li class="nav-item app-header_nav_item">
            <a class="nav-link" href="/works/new"Add a new work</a>
        </li>

        <li class="nav-item app-header_nav_item">
            <a class="nav-link" href="/users"View all users</a>
        </li>
    </ul>
    <ul class="nav app-header">
 
 
    
 
 
 
 </header>

<section class="show-details">

  <p>I don't know anything about this author but here's Ada Lovelace!</p>

  <%= image_tag "https://smsa.org.au/assets/ada-with-diagram.jpg", alt: "Ada being a badass", class: "show-ada" %>

</section>