<h2>The work that will ultimately be displayed</h2>
<section>
<p>Created by:<p>
<p>Published:</p>
<p>Description?:</p>
<p><button type="button" class="btn btn-primary">Back to Media Ranks</button><button type="button" class="btn btn-primary">Edit</button><button type="button" class="btn btn-primary">Upvote</button><button type="button" class="btn btn-primary-delete">Delete</button></p>
</section>