<h2> <%= verb %> a user </h2>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name">
  </div>

  <button type="submit" class="btn btn-default">Create Work</button>
</form>