<h2>List of Users</h2>

<section class="user-table">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user.id), method: :get %></td>
        <td><%= Vote.where(user_id: user.id).length %></td>
        <td><%= user.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>