<h1>Users#index</h1>

ID(DELETE later)... USERNAME... VOTES... JOINED
<br>
<% @users.each do |user| %>
  ID #<%= user.id %>...
  <%= link_to user.name, user_path(id: user.id) %>...
  <%= user.votes_casted %>...
  <%= display_date(user.created_at) %>
  <br>
<% end %>
