<h2> List of Users </h2>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
<body>
<% @users.each do |user| %>
<tr>
  <td><%=user.username%></td>
  <td><%=user.votes.length%></td>
  <td><%=user.date_joined%></td>
</tr>
<% end %>
</body>
</table>
 <%= link_to 'Log Out', logout_path, method: :post %>
