<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= render partial: "homepages/nav" %>

<h2>List of all Users</h2>
<ul>
  <% @all_users.each do |user| %>
  <li> Username: <%= link_to user.name, user_path(user.id) %> </li>
    <ul>
      <li> Votes: <%= user.votes.count %> </li>
      <li> Joined on: <%= user.created_at %> </li>
    </ul>
  <% end %>
</ul>
