<table class="table">
<h2>List of Users</h2>
  <tr>
    <th>Username</th>
      <th scope="col"width=90>Votes</th>
      <th scope="col"width=100>Joined</th>
    </tr>
    </thead>
    <tbody>

      <% @users.each do |user|%>
      <tr>  
        <td><%= link_to user.username, current_user_path(user.id) %></td>
        <td><%=user.votes%></td>
        
      </tr>
  <%end%>  
  </body>
</table>





