<h3> List of Users </h3>
<table class='table'>
  <tr>
    <th> Username </th>
    <th> Votes </th>
    <th> Joined </th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td> <%= link_to user.name, user_path(user) %> </td>
      <td> <%= user.votes.count %> </td>
      <td> <%= user.joined %> </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to "Back to media list", works_path, class: "btn btn-primary", id: "btn_1" %>