<main class="container">
  <section>
    <h2 class="text-green">List of Users</h2>
  </section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col" width=80>Vote</th>
        <th scope="col">Joined</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user.id) %></td>
          <td><%= user.votes.length %></td>
          <td><%= readable_date(user.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
