<main>
    <h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% @users.each do |user|%>
          <td><%=link_to user.username, user_path(user.id)%></td>
        <% end %>
      </tr>
  </tbody>
</table>