<main>
    <h2>List of Users</h2>

<table class="table">
    <theader>
    <tr>
      <td>Username</td>
      <td>Votes</td>
      <td>Joined</td>
    </tr>
    </theader>
  <tbody>
      <% @users.each do |user|%>
        <tr>
          <% if user.id != 0 %>
            <td><%=link_to user.username, user_path(user.id)%></td>
            <td><%= Vote.where(id: user.id).count%></td>
            <td><%= user.created_at%></td>
          <% end %>
        <% end %>
      </tr>
  </tbody>
</table>


