<main class="container">
  <section>
    <article>
      <h1 class="text-green">log In</h2>
    </article>
  </section>
  <%= form_with model: @user, url: login_path do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= text_area(:work, :description, rows: 1, class: "form-control") %>
    </div>
    <%= f.submit "Log In", class: "btn btn-primary" %>
  <% end %>
