<main>

<h1 id="green_text">Log In</h1>

<%= form_with model: @user do |f|%>
  <%= f.label "Username", class: "form-group" %>
  <%= f.text_field :name, class: "form-group" %> 
  <%= f.submit "Log In", class: "btn btn-primary form-group" %>
<% end %>

</main>