<main>
  <h2>Log In</h2>

  <form action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="qPSotz86XP/4Zjm+GolUhlBhUEoTDa1ompzCK0ZraNsLrYoVFZR/g3vxF5GaSEZJqMrP/huRankT9IZWoHDSbA==">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" name="commit" value="Log In" class="btn btn-primary" data-disable-with="Log In">
    </div>
  </form>
</main>