<section class = "show">
<h2>User Summary: </h2>


  <p>Username: <%= @user.username %></p>
  <p>Joined Site On: <%= @user.created_at.strftime("%m/%d/%Y")%></p>

  <%# Display info about votes made by a user%>
</section>


