<section>
  <h2>User Summary: <%=@user.username%></h2>
  <p>Joined site <%=@user.created_at%></p>
</section>

<section>
  <h3>Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>GET DEM VOTES MODEL WORKING</tbody>
  </table>

</section>
