/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

*{
   font-family: 'Gudea', sans-serif;
}

.flex-container {
   display: flex;
   justify-content: space-evenly;
}

.nav-item {
   margin: 1rem;
}

.navbar-right button{
   margin-right: 1rem;
}

a:hover{
   text-decoration: none;
}

.toptitle{
   text-align: center;
   padding: 2rem;
   padding-top: 4rem;
   color: white;
   a {
      color: #FF5722;
      font-weight: bolder;
      font-size: 2.5rem;
   }
}

.top-ten{
   margin-top: 1rem;
   width: 25%;
   h1{
      margin-bottom: 1rem;
      border-bottom: 2px solid;
      border-bottom-color: #26A69A;
      font-size: 2rem;
      font-weight: bold;
      color: #26A69A;
   }
}

.index-table{
   margin: 1rem;
   h1{
      margin-top: .5rem;
   }
}

.spotlight{
   margin: 3rem; 
   text-align: center;
   display: block;
   border-bottom: 1px solid;
   border-bottom-color: lightgrey;
   padding-bottom: 2rem;
}

.spotlight-p{
   text-align: left;
}