/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');

* {
  font-family: "Gudea", "sans-serif";
  font-weight: bold;
}

.app-header__header {
  background-color: #B2DFDB;
  text-align: center;
  max-width: 100%;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.2rem 1rem;
}

.app-header__header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
  text-decoration: none;
}

.app-header__header h1 {
  font-size: 2.5rem;
}

.app-header__header small {
  color: white;
}

.app-header__nav {
  padding-top: 25px;
}

// .app-header__site-nav-container {
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: space-between;
// }

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color:#26A69A;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.app-header__site-nav-container, .app-header__nav_item {
  margin-right: 2rem;
}

.app-header__user-nav-container{
  margin-left: 35rem;
}

.spotlight {
  padding: 2rem 2rem 2rem 2rem;
}

.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.works-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
