// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spotlight {
   text-align: center; 
   color: black;
}

.spotlight_lt {
    text-decoration: underline;
    color: #26A69A;
}

.top_ten {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}


body {
    color: #26A69A;
}