// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  padding: 2rem;
}

.spotlight {
  padding: 0 2rem 2rem 2rem;
}

.root__hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE;
}

.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
