// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

main {
  padding: 2rem;
}

// #spotlight {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: 2rem;
// }

.spotlight {
  padding: 0 2rem 2rem 2rem;
}

.spotlight__header {
  color: #26A69A;
}

.spotlight__header--prefix {
  color: #424242;
}

.spotlight__link-to {
  border-bottom: 2px solid;
  text-decoration: none;
}

.spotlight__description {
  margin-bottom: 0;
}

.top-ten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  margin: 2rem;
}

.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}

.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-group-item {
  border: none;
}

// .list-group-item {
//   position: relative;
//   display: block;
//   padding: 0.75rem 1.25rem;
//   margin-bottom: -1px;
//   background-color: #fff;
// }

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.top-ten__creator {
  color: slategrey;
}