/*! CSS Used from: http://media-ranker-2-0.herokuapp.com/assets/application-23e0d10ed2d885fab99a6549bc004eca19f49cf694e045afebe16b6e9bf1345a.css ; media=screen */
@media all{
  *,*::before,*::after{box-sizing:border-box;}
  section{display:block;}
  h4{margin-top:0;margin-bottom:0.5rem;}
  a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
  a:hover{color:#0056b3;text-decoration:underline;}
  table{border-collapse:collapse;}
  th{text-align:inherit;}
  h4{margin-bottom:0.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
  h4{font-size:1.5rem;}
  .table{width:100%;margin-bottom:1rem;background-color:transparent;}
  .table th,.table td{padding:0.75rem;vertical-align:top;border-top:1px solid #dee2e6;}
  .table thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6;}
  .btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:0.375rem 0.75rem;font-size:1rem;line-height:1.5;border-radius:0.25rem;transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
  @media screen and (prefers-reduced-motion: reduce){
  .btn{transition:none;}
  }
  .btn:hover,.btn:focus{text-decoration:none;}
  .btn:focus{outline:0;box-shadow:0 0 0 0.2rem rgba(0,123,255,0.25);}
  .btn:disabled{opacity:0.65;}
  .btn-primary{color:#fff;background-color:#007bff;border-color:#007bff;}
  .btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc;}
  .btn-primary:focus{box-shadow:0 0 0 0.2rem rgba(0,123,255,0.5);}
  .btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff;}
  @media print{
  *,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
  a:not(.btn){text-decoration:underline;}
  thead{display:table-header-group;}
  tr{page-break-inside:avoid;}
  .table{border-collapse:collapse!important;}
  .table td,.table th{background-color:#fff!important;}
  }
  h4{font-family:"Gudea", sans-serif;}
  h4{font-weight:bold;}
  a{color:#26A69A;}
  a:hover{color:#00796B;text-decoration:none;}
  .btn-primary{background-color:#26A69A;color:white;border-color:#26A69A;}
  .btn:hover{background-color:#00796B;color:white;}
  .table td{vertical-align:middle;}
  }
  /*! CSS Used from: http://media-ranker-2-0.herokuapp.com/assets/application-23e0d10ed2d885fab99a6549bc004eca19f49cf694e045afebe16b6e9bf1345a.css ; media=all */
  @media all{
  *,*::before,*::after{box-sizing:border-box;}
  section{display:block;}
  h4{margin-top:0;margin-bottom:0.5rem;}
  a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
  a:hover{color:#0056b3;text-decoration:underline;}
  table{border-collapse:collapse;}
  th{text-align:inherit;}
  h4{margin-bottom:0.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
  h4{font-size:1.5rem;}
  .table{width:100%;margin-bottom:1rem;background-color:transparent;}
  .table th,.table td{padding:0.75rem;vertical-align:top;border-top:1px solid #dee2e6;}
  .table thead th{vertical-align:bottom;border-bottom:2px solid #dee2e6;}
  .btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:0.375rem 0.75rem;font-size:1rem;line-height:1.5;border-radius:0.25rem;transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
  @media screen and (prefers-reduced-motion: reduce){
  .btn{transition:none;}
  }
  .btn:hover,.btn:focus{text-decoration:none;}
  .btn:focus{outline:0;box-shadow:0 0 0 0.2rem rgba(0,123,255,0.25);}
  .btn:disabled{opacity:0.65;}
  .btn-primary{color:#fff;background-color:#007bff;border-color:#007bff;}
  .btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc;}
  .btn-primary:focus{box-shadow:0 0 0 0.2rem rgba(0,123,255,0.5);}
  .btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff;}
  @media print{
  *,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
  a:not(.btn){text-decoration:underline;}
  thead{display:table-header-group;}
  tr{page-break-inside:avoid;}
  .table{border-collapse:collapse!important;}
  .table td,.table th{background-color:#fff!important;}
  }
  h4{font-family:"Gudea", sans-serif;}
  h4{font-weight:bold;}
  a{color:#26A69A;}
  a:hover{color:#00796B;text-decoration:none;}
  .btn-primary{background-color:#26A69A;color:white;border-color:#26A69A;}
  .btn:hover{background-color:#00796B;color:white;}
  .table td{vertical-align:middle;}
  }
  /*! CSS Used fontfaces */
  @font-face{font-family:'Gudea';font-style:normal;font-weight:400;src:local('Gudea'), url(https://fonts.gstatic.com/s/gudea/v9/neIFzCqgsI0mp9CG_oCsNKEyaJQ.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
  @font-face{font-family:'Gudea';font-style:normal;font-weight:400;src:local('Gudea'), url(https://fonts.gstatic.com/s/gudea/v9/neIFzCqgsI0mp9CI_oCsNKEy.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
  @font-face{font-family:'Gudea';font-style:normal;font-weight:700;src:local('Gudea Bold'), local('Gudea-Bold'), url(https://fonts.gstatic.com/s/gudea/v9/neIIzCqgsI0mp9gz25WPFqwYUp31kXI.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
  @font-face{font-family:'Gudea';font-style:normal;font-weight:700;src:local('Gudea Bold'), local('Gudea-Bold'), url(https://fonts.gstatic.com/s/gudea/v9/neIIzCqgsI0mp9gz25WBFqwYUp31.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}