// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-primary {
    background-color: #26A69A;
    color: white;
    border-color: #26A69A;
   }
 
.btn-primary:hover {
    background-color:#00796B;
 }