// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

    .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    }
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}