// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#btn_1 {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

#work_votes_list {
  color: black;
}