// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.works-votes__container {
  display: block;
  margin-top: 1.75rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {

}

.form-group {

}

.form-group .btn {
  margin-top: 1rem;
}
