<section class="alert__container">
  <div class="alert alert-<%= flash[:alert_class]%>">
    <span><%= flash[flash[:alert_class]] %></span>
    <%# if @user.errors.any? or @work.errors.any? display @user.errors or @work.errors listed out %>
  </div>
</section>
